<div>
  <a href="/allekunst/<%=index%>" style="text-decoration:none">
      <h3 class="naam"><%= item.titel %></h3>
      <h4 class="collectie"><%= item.collectie %></h4>
      <h4 class="jaartal"><%= item.jaartal %></h4>
      <div class="schilderijen" style="background-image:url('/imgs/<%=item.afbeelding %>'); background-repeat:no-repeat; background-size:cover; background-position: center center;"></div>
  </a>
</div>
